$breakpoint-small: 800px;

:root {
  --background-body: #202b38;
  --background: #161f27;
  --background-alt: #1a242f;
  --selection: #1c76c5;
  --text-main: #dbdbdb;
  --text-bright: #fff;
  --text-muted: #a9b1ba;
  --links: #41adff;
  --focus: #0096bfab;
  --border: #526980;
  --animation-duration: 0.1s;
  --button-hover: #324759;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(+8%));
  --form-placeholder: #a9a9a9;
  --font-family: 'Nunito Sans', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-weight: 300;
  --font-weight-thick: 400;
  --font-size: 1.25rem;
  --line-height: 1.625;
  --max-width: 61.25rem;
  --text-shadow: none;
}

.jonify:root {
  --background-body: linear-gradient(
    0deg,
    rgba(168, 0, 255, 1) 0%,
    rgba(0, 121, 255, 1) 20%,
    rgba(0, 241, 29, 1) 40%,
    rgba(255, 239, 0, 1) 60%,
    rgba(255, 127, 0, 1) 80%,
    rgba(255, 9, 0, 1) 100%
  );
  --background: #ffff00;
  --background-alt: #1a242f;
  --selection: #1c76c5;
  --text-main: #dbdbdb;
  --text-bright: #fff;
  --text-muted: #a9b1ba;
  --links: #8000ff;
  --focus: #0096bfab;
  --border: #526980;
  --animation-duration: 0.1s;
  --button-hover: red;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(+8%));
  --form-placeholder: #a9a9a9;
  --font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  --font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-weight: 300;
  --font-weight-thick: 400;
  --font-size: 1.5rem;
  --line-height: 1.625;
  --max-width: 61.25rem;
  --text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
